﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CustomerDeleteViewModel

<p>Bent u zeker dat u klant @Model.Naam wilt verwijderen?</p>

<form asp-controller="Customer" asp-action="DeleteConfirm" method="post">
    @*Patroon*@
    <input asp-for="CustomerId" type="hidden"/>
   
    <button class="btn btn-primary" type="submit">Delete Customer</button>
    
</form>

<a asp-controller="Movie" asp-action="Index">Ga terug!</a>
