﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CustomerEditViewModel

<form asp-controller="Customer" asp-action="Edit" method="post">
    @*Patroon*@
    <input asp-for="CustomerId" type="hidden"/>
    <div class="form-group">
        <label asp-for="Naam"></label>
        <input class="form-control" asp-for="Naam"/>
        <span class="text-danger" asp-validation-for="Naam"></span>
    </div>
    @*Herhaal het patroon voor alle properties.*@
    <div class="form-group">
        <label asp-for="Voornaam"></label>
        <input class="form-control" asp-for="Voornaam"/>
        <span class="text-danger" asp-validation-for="Voornaam"></span>
    </div>
    <button class="btn btn-primary" type="submit">Edit Customer</button>
</form>
