﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CustomerListViewModel>


<div>
    <h1>Overzicht Customers:</h1>  
    <table>
            @foreach (var Customer in Model)
            {
                    <tr>
                        <td><a class="btn btn-primary" asp-action="Detail" asp-controller="Customer" asp-route-CustomerId=@Customer.CustomerId>@Customer.Voornaam @Customer.Naam</a></td>
                        <td><a class="btn btn-primary" asp-action="Edit" asp-controller="Customer" asp-route-CustomerId=@Customer.CustomerId>Edit</a></td>
                        <td><a class="btn btn-primary" asp-action="Delete" asp-controller="Customer" asp-route-CustomerId=@Customer.CustomerId>Delete</a></td>
                    </tr>                    
            }                                       
    </table>  
</div>
<div style="margin:20px;">
     <a class="btn btn-secondary" asp-action="Create" asp-controller="Customer" width="400px">Voeg Nieuwe Customer Toe</a>
</div>
