﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UitgaveDetailViewModel

<h1>Add new Invoice</h1>
<form asp-controller="Statistics" asp-action="Create" method="post">
    @*Patroon*@
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    @*Herhaal het patroon voor alle properties.*@
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input class="form-control" asp-for="Amount" />
        <span class="text-danger" asp-validation-for="Amount"></span>
    </div>
      <div class="form-group">
        <label asp-for="Date"></label>
        <input class="form-control" asp-for="Date" />
        <span class="text-danger" asp-validation-for="Date"></span>
    </div>  
        <button class="btn btn-primary" type="submit">Create Invoice</button>

    </form>