﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UitgaveDeleteViewModel
@{
}
<p>@Model.Description</p>
<p>@Model.Date</p>

<p>Are you sure you want to delete this invoice?</p>
<form method="post" asp-action="DeleteConfirm" asp-controller="Statistics" asp-route-id=@Model.ID >
    <button type="submit">Yes</button>
</form>
<a class="button" asp-controller="Statistics" asp-action="Index" >No</a>