﻿@using MovieWeb.Controllers
@{
    string[] filters = new string[] { "Datum Aflopend", "Datum Oplopend", "Bedrag Aflopend", "Bedrag Oplopend" };
}
@model List<UitgaveDetailViewModel>
    <div class="form-box">
    <p>Sorteer op:</p>
    <div class="form">
 <form asp-action="IndexSort" asp-controller="Statistics" method="post">
          <select asp-for=@StatisticsController.Filter>
             @for(int i = 0; i <= 3; i++)
              {
                     <option value=@i>@filters[i]</option>
              }
            </select>
         <button class="btn btn-primary" type="submit">Sort</button>
</form>
</div>
<a class="btn btn-primary" asp-controller="Statistics" asp-action="Create">Maak Invoice Aan</a>
</div>
@if (@Model.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in @Model)
            {
                <tr>
                    <td>@x.Description</td>
                    <td><span>- @x.Amount</span></td>
                    <td>@x.Date</td>                          
                    <td><a class="btn btn-primary" asp-controller="Statistics" asp-action="Edit" asp-route-id="@x.ID">Edit</a></td>
                    <td><a class="btn btn-primary" asp-controller="Statistics" asp-action="Delete" asp-route-id="@x.ID">Delete</a></td>
                </tr>
            }
            
        </tbody>
    </table>
}
else
{
    <p>No invoices available!</p>
}