﻿@model List<UitgaveDetailViewModel>
@using MovieWeb.Controllers
@{
    var highestAmount = GetHighestAmount(Model);
    var lowestAmount = GetLowestAmount();
    var highestDate = GetHighestDate();
    var listByYearMonth = ExpensesByMonth();
}
@functions{
    UitgaveDetailViewModel GetHighestAmount(List<UitgaveDetailViewModel> list)
    {
        return list.OrderByDescending(x => x.Amount).ToList()[0];
    }
    UitgaveDetailViewModel GetLowestAmount()
    {
        return Model.OrderBy(x => x.Amount).ToList()[0];
    }
    UitgaveDetailViewModel GetHighestDate()
    {
        Model.OrderByDescending(x => x.Date).ToList();
        List<UitgaveDetailViewModel> listByDate = new List<UitgaveDetailViewModel>();

        for(int i = 0; i < Model.Count; i++)
        {
            if(i == 0)
            {
                listByDate.Add(Model[0]);
            }
            else
            {
                if(Model[i].Date.Date == listByDate[listByDate.Count -1].Date.Date)
                {
                    listByDate[listByDate.Count -1].Amount += Model[i].Amount;
                }
                else
                {
                    listByDate.Add(Model[i]);
                }
            }
        }
        return GetHighestAmount(listByDate);
    }
    List <UitgaveDetailViewModel> ExpensesByMonth()
    {
        Model.OrderByDescending(x => x.Date).ToList();
        List<UitgaveDetailViewModel> listByDate = new List<UitgaveDetailViewModel>();

        for(int i = 0; i < Model.Count; i++)
        {
            if(i == 0)
            {
                listByDate.Add(Model[0]);
            }
            else
            {
                if(Model[i].Date.Year == listByDate[listByDate.Count -1].Date.Year)
                {
                    if(Model[i].Date.Month == listByDate[listByDate.Count -1].Date.Month)
                    {
                        listByDate[listByDate.Count -1].Amount += Model[i].Amount;
                    }
                    else
                    {
                        listByDate.Add(Model[i]);
                    }   
                }
                else
                {
                    listByDate.Add(Model[i]);
                }
            }
        }
        return listByDate;
    }
}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
      <tr>
         <td>Highest Amount</td>
       	<td>@highestAmount.Description</td>
        <td><span> - @highestAmount.Amount</span></td>
        <td>@highestAmount.Date</td>                                 
	</tr>
     <tr>
         <td>Lowest Amount</td>
       	<td>@lowestAmount.Description</td>
        <td><span> - @lowestAmount.Amount</span></td>
        <td>@lowestAmount.Date</td>                                 
	</tr>
     <tr>
         <td>Highest Expenses/Day</td>
       	<td>N/A</td>
        <td><span> - @highestDate.Amount</span></td>
        <td>@highestDate.Date.Date</td>                                 
	</tr>
</tbody>
</table>
   
<table class="table">
  <thead>
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Month/Year</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      @foreach(var x in listByYearMonth)
            {
                <td><span>@x.Amount</span></td>
       	        <td>@x.Date.Month/@x.Date.Year</td>
            }
	</tr>
</tbody>
</table>
   