﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MovieCreateViewModel

@if(@Model.MovieImg == null)
{
    <h1>STAP 1: Kies Een Afbeelding</h1>
    <div style="padding-top:20px;"> 
<form asp-controller="Movie" asp-action="CreateImg" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFile" class="form-control" />
    <input type="submit" value="Create Image For Movie" id="sub" style="margin-top:20px;"/>
</form>
    </div>
}

else
{
    <h1>STAP 2: Vul Gegevens In</h1>
    <form asp-controller="Movie" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Tittel"></label>
        <input class ="form-control" asp-for="Tittel" />
        <span class="text-danger" asp-validation-for="Tittel"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Duurtijd"></label>
        <input class ="form-control" asp-for="Duurtijd" />
        <span class="text-danger" asp-validation-for="Duurtijd"></span>
    </div>
    <div class="form-group">
        <label asp-for="Release"></label>
        <input class ="form-control" asp-for="Release" />
        <span class="text-danger" asp-validation-for="Release"></span>
    </div>
    @if (@Model.MovieImg != null)
    {      
        
        <div class="form-group">         
        <input class="form-control" asp-for="MovieImg" hidden="hidden"/>
        <div style="padding-top:20px;">
        @if(@Model.MovieImg.Path != ""){
            <img src="@Url.Content(@Model.MovieImg.Path)" alt="Sample Image" width="200"/>
            <a class="btn btn-primary" asp-controller="Movie" asp-action="DeleteImg" asp-route-id="@Model.MovieImg" style="margin-left:10px;">Remove Pic</a>
        }
        </div>
        </div>
    }
    <button class="btn btn-secondary" type="submit" style="margin-top:50px;margin-left:40%;width:400px;">Create</button> 
</form>

}




