﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    @model MovieCreateViewModel
    
}
<h1>@Model.Tittel</h1>
<p>Wilt u deze film verwijderen?</p>

<a class="btn btn-primary" asp-controller="Movie" asp-action="DeleteConfirm" asp-route-id="@Model.MovieId" style="margin-left:10px;">Ja</a>
    <a class="btn btn-primary" asp-controller="Movie" asp-action="Index" style="margin-left:10px;">Neen</a>
    
    