﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    

    @model MovieWeb.Models.MovieDetailViewModel
    string releasestring = "";
    if (@Model != null)
    {
        DateTime release = @Model.Release;
    int releaseint = Convert.ToInt32((release - DateTime.Now).Days);
    
    switch (releaseint)
    {
        case < 0:
            releasestring = "Deze Film kwam " + Math.Abs(releaseint).ToString() + " dagen geleden uit.";
            break;
        case 0:
            releasestring = "Deze Film is vandaag in première!.";
            break;
        case > 0:
            releasestring = "Deze Film komt binnen " + releaseint.ToString() + " dagen uit.";
            break;
    }
    }
    
}
@if (@Model != null)
{
    <h1>Titel :  @Model.Tittel</h1>
    <div style="position:center;" >
        <img src="@Url.Content(@Model.MovieImg.Path)" alt="Sample Image" width="400" height="400"/>
    </div>
    @*<p>ID: @Model.MovieId</p>*@
    <p>Duurtijd : @Model.Duurtijd</p>
    <p>ReleaseDatum : @releasestring</p>

    <a class="btn btn-primary" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.MovieId" style="margin-left:10px;">Delete</a>
    <a class="btn btn-primary" asp-controller="Movie" asp-action="Update" asp-route-id="@Model.MovieId" style="margin-left:10px;">Update Details</a>
    <a class="btn btn-primary" asp-controller="Movie" asp-action="Update" asp-route-id="@Model.MovieId" style="margin-left:10px;" hidden="hidden">Update Screenshots</a>   
}

    @*<table class="table">
  <thead>
    <tr>
       <th scope="col">Function</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
      <tr>
         <td>Highest Amount</td>
       	<td>@highestAmount.Description</td>
        <td><span> - @highestAmount.Amount</span></td>
        <td>@highestAmount.Date</td>                                 
	</tr>
     <tr>
         <td>Lowest Amount</td>
       	<td>@lowestAmountDescription</td>
        <td><span> - @lowestAmount.Amount</span></td>
        <td>@lowestAmount.Date</td>                                 
	</tr>
     <tr>
         <td>Highest Expenses/Day</td>
       	<td>N/A</td>
        <td><span> - @highestDate.Amount</span></td>
        <td>@highestDate.Date</td>                                 
	</tr>
</tbody>
</table>

string myvalue = Request.Form["Lijst"].ToString();


[DisplayFormat(ApplyFormatInEditMode =true, DataFormatString = "{0: yyyy-MM-dd}")]

   *@