﻿@page "/forms"
@using MovieWeb;


@namespace MovieWeb
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}


        @(await Html.RenderComponentAsync<MovieWeb.Components.Forms>(RenderMode.Server))

       <script src="~/_framework/blazor.server.js"></script>
    

