﻿@using MovieWeb.Controllers
@using MovieWeb.Domain
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     @model List<MovieWeb.Models.MovieListViewModel>
     List<string> mylist = new List<string>();
    foreach (var movie in Model)
    {
        mylist.Add(@movie.Tittel);
    }
    
    //Guid MyMethod(MovieListViewModel x)
    //{
    //   Guid myguid = x.MovieId;
    //    return myguid;
    //}
    string[] filters = new string[] { "A-Z", "Z-A", "Release Aflopend", "Release Oplopend" };
}

@if (mylist.Count == 0)
{
    <p>Geen FILMS</p>
}
@if (mylist.Count != 0)
{
    <div style="padding-left:35%;">
    <h1>Zoeken:</h1>
    <form asp-controller="Movie" asp-action="SearchTitle" method="post">
    <div class="form-group" style="width:300px;">       
        <input class ="form-control" asp-for=@MovieController.Search />       
    </div>
      <button class="btn btn-secondary" type="submit" style="margin-top:10px;">ZOEKEN</button> 
</form>
</div>
    
    
    <div style="padding-left:35%;padding-top:20px;">
 <form asp-action="IndexSort" asp-controller="Movie" method="post">
          <select asp-for=@MovieController.Filter>
             @for(int i = 0; i <= 3; i++)
              {
                     <option value=@i>@filters[i]</option>
              }
            </select>
         <button class="btn btn-primary" type="submit">Sorteer</button>
</form>
</div>
    
   

<div class="indexcontainer" style="margin-left:10%;">
<table classs="table">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Duurtijd</th>
            <th>Image</th>
            <th>Tags</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                
                <td>
                    <a class="btn btn-primary" asp-action="Detail" asp-controller="Movie" asp-route-sausissen=@movie.MovieId>@movie.Tittel</a>
                </td>
                <td>
                    @movie.Duurtijd
                </td>
                <td>
                    <img src="@Url.Content(@movie.MovieImg.Path)" alt="Sample Image" width="100" height="100" />
                </td>
                
                <td>
                    
                </td>
                <td>                   
                    
                </td>
                <td>
                    
                </td>
                
            </tr>                                       
        }
    </tbody>
</table>
</div>


}
<div style="margin:100px;">
 <a class="btn btn-secondary" asp-area="" asp-controller="Movie" asp-action="Create" style="margin-left:250px;width:600px;">Maak een Film</a>
  </div> 

   <div style="padding-left:35%;">
    <form asp-controller="Movie" asp-action="Detail" method="post">
 @Html.DropDownList("LijstFilms", 
                        new SelectList(@mylist),
                        "Kies een Film"
                        )     
<button class="btn btn-primary" type="submit">Detail</button>
</form>
</div>
<div style="padding-left:35%;">
<form asp-controller="Movie" asp-action="Detail" method="post">
    @Html.ListBox("Lijst", new SelectList(@mylist))
    <input class="btn btn-primary" type="submit" value="Detail" /> 
        
</form>
</div>