﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model MovieCreateViewModel
}
<form asp-controller="Movie" asp-action="Update" asp-route-id="@Model.MovieId method="post">
    
    <div class="form-group" hidden="hidden">
        <label asp-for="MovieId"></label>
        <input class ="form-control" asp-for="MovieId" />
        <span class="text-danger" asp-validation-for="MovieId"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Tittel"></label>
        <input class ="form-control" asp-for="Tittel" />
        <span class="text-danger" asp-validation-for="Tittel"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Duurtijd"></label>
        <input class ="form-control" asp-for="Duurtijd" />
        <span class="text-danger" asp-validation-for="Duurtijd"></span>
    </div>
    <div class="form-group">
        <label asp-for="Release"></label>
        <input class ="form-control" asp-for="Release" />
        <span class="text-danger" asp-validation-for="Release"></span>
    </div>
    @if (@Model.MovieImg != null)
    {      
        
        <div class="form-group" hidden="hidden">         
        <input class="form-control" asp-for="MovieImg"/>
        <div style="padding-top:20px;">
        @if(@Model.MovieImg.Path != ""){
            <img src="@Url.Content(@Model.MovieImg.Path)" alt="Sample Image" width="200"/>
            @*<a class="btn btn-primary" asp-controller="Movie" asp-action="DeleteImg" asp-route-id="@Model.MovieImg" style="margin-left:10px;">Remove Pic</a>*@
        }
        </div>
        </div>
    }
    <button class="btn btn-secondary" type="submit" style="margin-top:50px;margin-left:40%;width:400px;" >Update</button> 
</form>
