html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}


.form-box {
    display: flex;
    justify-content: center;
}

span {
    margin-right: 5px;
    align-self: center;
}

button, select {
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 50px;
}

td {
    border: 1px solid lightgrey;
}

thead {
    border: 1px solid black;
    background-color: rgb(66,155,245);
    color: white;
}

td, th {
    text-align: center;
    width: auto;
    padding: 10px;

}

img {
    
    padding: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}

    img:hover {
        cursor: pointer;
    }

.indexcontainer{
    position: center;   
    align-content:center;
    padding-left: 25%;
    padding-top: 40px;

}

.ribbon {
    background-color: seagreen;
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    left: -50px;
    top: 40px;
    /* for 45 deg rotation */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* for creating shadow */
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    opacity: 0.7;
    cursor: pointer;
    
}

    .ribbon p {
        border: 1px solid #faa;
        color: orangered;
        display: block;
        font: bold 100% 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 1px 0;
        padding: 10px 50px;
        text-align: center;
        text-decoration: dotted;
        /* for creating shadow */
        text-shadow: 0 0 5px #444;
    }

    
