﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Trespassing!</h1>

<h2>U heeft geen Toegangsrechten tot deze pagina, betaal Harald meer!</h2>

<p>Rauss!</p>