﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model ErrorViewModel
}


<h1>@Model.Message</h1>

<h1>GEEN TOEGANG</h1>

<p>Rauss!</p>
