﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model FibonacciViewModel
    int getal1 = Model.Getal1;
    int getal2 = Model.Getal2;
    int getal3 = Model.Getal3;
    int getal4 = Model.Getal4;
    int getal5 = Model.Getal5;
    int[] arrayGet = new int[5];
    arrayGet[0] = getal1;
    arrayGet[1] = getal2;
    arrayGet[2] = getal3;
    arrayGet[3] = getal4;
    arrayGet[4] = getal5;
    Array.Sort(arrayGet);
            Array.Reverse(arrayGet);
            string t = "";
            for (int i = 0; i < arrayGet.Length; i++)
            {
                t += arrayGet[i] + "";
            }
    
    int som = getal1 + getal2 + getal3 + getal4 + getal5;
    int product = getal1 * getal1 * getal3 * getal4 * getal5;
    string antwoord = "0 1";
    string Fibo(string antwoord)
    {
        int a = 0, b = 1, c = 0;
          
        while (a < 1000 && b < 1000 && c <1000)  
        {  
        c= a + b;           
        a= b;  
        b= c;
        if (c<1000)
            {
                 antwoord += $" {c}";
            }         
        }
        return antwoord;
    }        
}


<p>@Fibo(@antwoord)</p>


<form asp-controller="Home" asp-action="Fibonacci" method="post">
    <div class="form-group">
        <label asp-for="Getal1"></label>
        <input class ="form-control" asp-for="Getal1" />
        <span class="text-danger" asp-validation-for="Getal1"></span>
    </div>
    <div class="form-group">
        <label asp-for="Getal2"></label>
        <input class ="form-control" asp-for="Getal2" />
        <span class="text-danger" asp-validation-for="Getal2"></span>
    </div>
    <div class="form-group">
        <label asp-for="Getal3"></label>
        <input class ="form-control" asp-for="Getal3" />
        <span class="text-danger" asp-validation-for="Getal3"></span>
    </div>
    <div class="form-group">
        <label asp-for="Getal4"></label>
        <input class ="form-control" asp-for="Getal4" />
        <span class="text-danger" asp-validation-for="Getal4"></span>
    </div>
    <div class="form-group">
        <label asp-for="Getal5"></label>
        <input class ="form-control" asp-for="Getal5" />
        <span class="text-danger" asp-validation-for="Getal5"></span>
    </div>
    <button class="btn btn-primary" type="submit">Laad Geweer</button>

</form>
<p>Tis hier Fibonacci</p>

@if (som != 0)
{
    <p>Som = @som</p>
}
@if (product != 0)
{
    <p>Product = @product</p>
}
@if (@som != 0)
{
    <p>Rij = @t</p>
}
