﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}
<h1>Login</h1>

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">          
        <input type="text" name="gebruikersnaam" placeholder="Gebruikersnaam"/>
        <input type="text" name="paswoord" placeholder="Paswoord"/>
        <input class="btn - btn-primary" type="submit" value="Login"/>   
</form>