﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="color:red;">TOP SECRET INFO </h1>

<p>Tekst Hier, geen Lorem</p>