﻿@using MovieWeb.Controllers
@using MovieWeb.Domain

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@functions{
    public string GetFullName(Customer customer)
    {
        return customer.Voornaam + " " + customer.Naam;
    }
}

@model RentedByCreateViewModel


<form asp-controller="RentedBy" asp-action="Create">

    <select asp-for="CustomerId" 
            asp-items="@(new SelectList(RentedByController.allCustomers, nameof(Customer.CustomerId), nameof(Customer.Naam)))">
        <option>Please select one</option>
    </select>

    <select asp-for="MovieId" 
            asp-items="@(new SelectList(RentedByController.allMovies, nameof(Movie.MovieId), nameof(Movie.Tittel)))">
        <option>Please select one</option>
    </select>

    <input type="submit"/>

</form>


