﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 @model RentedByDeleteViewModel
    

<h1>@Model.CustomerNaam -- @Model.MovieNaam</h1>
<p>Wilt u deze film verwijderen?</p>

<form asp-controller="RentedBy" asp-action="DeleteConfirm" method="post">
    
    <input asp-for="RentedById" type="hidden"/>
   
    <button class="btn btn-primary" type="submit">Delete RentedBy</button>
    
    <a class="btn btn-primary" asp-controller="RentedBy" asp-action="Index" style="margin-left:10px;">Neen</a>
</form>
    