﻿@using MovieWeb.Controllers
@using MovieWeb.Domain
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RentedByEditViewModel


<form asp-controller="RentedBy" asp-action="Edit">

    <input asp-for="RentedById" type="hidden"/>
    
    <select asp-for="CustomerId" 
            asp-items="@(new SelectList(RentedByController.allCustomers, nameof(Customer.CustomerId), nameof(Customer.Naam), Model.CustomerId))">
        <option>Please select one</option>
    </select>

    <select asp-for="MovieId" 
            asp-items="@(new SelectList(RentedByController.allMovies, nameof(Movie.MovieId), nameof(Movie.Tittel)))">
        <option>Please select one</option>
    </select>

    <input type="submit"/>

</form>
