﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<RentedByListViewModel>

<div>
    <a class="btn btn-secondary" style="width:400px;" asp-action="Create" asp-controller="RentedBy">Voeg toe</a>            
    <h1>Overzicht RentedBy:</h1>   
    <table>
            <thead>
        <tr>
            <th>Naam</th>
            <th>Voornaam</th>
            <th>Film</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        @foreach (var RentedBy in Model)
            {
                    <tr>
                        <td>@RentedBy.Customer.Voornaam </td>
                        <td>@RentedBy.Customer.Naam </td>
                        <td>@RentedBy.Movie.Tittel</td>
                        <td><a class = "btn btn-primary" asp-action="Detail" asp-controller="RentedBy" asp-route-RentedById=@RentedBy.RentedById>Detail</a></td>
                        <td><a class = "btn btn-primary"asp-action="Edit" asp-controller="RentedBy" asp-route-RentedById=@RentedBy.RentedById>Edit</a></td>
                        <td><a class = "btn btn-primary"asp-action="Delete" asp-controller="RentedBy" asp-route-RentedById=@RentedBy.RentedById>Delete</a></td>
                    </tr>                    
            }     
    </table>    
</div>
