﻿@using MovieWeb.Controllers
@using MovieWeb.Domain
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MovieNightCreateViewModel

<form asp-controller="MovieNight" asp-action="AddCustomer" method="post"> 

    
        <label asp-for="MovieNightId" hidden="hidden"></label>
        <input asp-for="MovieNightId" hidden="hidden"/>
        
    
    <select asp-for="CustomerToAdd.CustomerId" 
            asp-items="@(new SelectList(@MovieNightController.allCustomers, nameof(Customer.CustomerId), nameof(Customer.Naam)))">
        <option>Please select one</option>
    </select>
    <input type="submit"/>

</form>