﻿@using MovieWeb.Controllers
@using MovieWeb.Domain

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MovieNightCreateViewModel


    <h1>Stap 1 :</h1>
    <form asp-controller="MovieNight" asp-action="Create" method="post">
    
    <div class="form-group">
        <label asp-for="Naam"></label>
        <input class="form-control" asp-for="Naam"/>
        <span class="text-danger" asp-validation-for="Naam"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Omschrijving"></label>
        <input class="form-control" asp-for="Omschrijving"/>
        <span class="text-danger" asp-validation-for="Omschrijving"></span>
    </div>
    <button class="btn btn-primary" type="submit">Add MovieNight</button>
    </form>


    
