﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<MovieNightCreateViewModel>

<div>
    <h1>Overzicht MovieNights:</h1>
    

    <table>
           <thead>
        <tr>
            <th>Naam</th>
            <th>Aantal Customers</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var MovieNight in Model)
            {
                    <tr>
                        <td>@MovieNight.Naam </td> 
                        
                        <td>
                            @if(MovieNight.AllCustomers != null)
                            {
                                @MovieNight.AllCustomers.Count
                            }
                    
                        </td>
                        <td><a class="btn btn-primary" asp-action="AddMovie" asp-controller="MovieNight" asp-route-MovieNightId=@MovieNight.MovieNightId>Add Movie</a></td>
                        <td><a class="btn btn-primary" asp-action="AddCustomer" asp-controller="MovieNight" asp-route-MovieNightId=@MovieNight.MovieNightId>Add Customer</a></td>
                        <td><a class="btn btn-secondary" asp-action="Edit" asp-controller="MovieNight" asp-route-MovieNightId=@MovieNight.MovieNightId>Edit</a></td>
                        <td><a class="btn btn-secondary" asp-action="Delete" asp-controller="MovieNight" asp-route-MovieNightId=@MovieNight.MovieNightId>Delete</a></td>
                    </tr>
                    
            }

            <tr>
                <a asp-action="Create" asp-controller="MovieNight">Voeg toe</a>
            </tr>
        </tbody>
    </table>
    

</div>
 @foreach (var x in Model)
    {
        if (x.AllCustomers != null)
        {
            <p>@x.Naam</p>
            @foreach (var customer in x.AllCustomers)
            {
            <p>@customer.Naam</p>
            }
        }
        
    }